{
  "group_token": "vk1.a.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX",
  "group_id": 0,
  "allowed_user_id": 0,
  "sessions": {
    "napopravku": "/home/alex/code/napopravku",
    "vault": "/home/alex/Obsidian/work-kb"
  }
}
